.navbar {
  /* background-color: #337ab7; */
  background-color: transparent;
  padding: 20px;
  color: white;
  border-radius: 10px;
}
  
.navbar ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.navbar li {
margin-bottom: 10px;
}

.navbar a {
text-decoration: none;
color: white;
padding: 10px;
display: block;
}

.navbar a:hover {
background-color: #3C0753;
color:white;
text-decoration: none;
border-radius: 10px;
box-shadow: 2px 2px 2px #540a74;
}